# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# Database
*.db
*.sqlite3

# Uploads
static/uploads/

# Logs
*.log

# Environment
.env

# macOS
.DS_Store